.ChipLibrary {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  align-items: center;
  .List {
    display: flex;
    flex-wrap: wrap;
  }
  .ChipButton {
    padding: 0.75em;
    margin: 0.5em;
    border: 1px solid #8f8f8f;
    border-radius: 4px;
    cursor: pointer;
  }
  .SelectedChip {
    background-color: color-mix(in srgb, var(--element-background) 87.5%, transparent 12.5%);
  }
  .PrimaryChips {
    border-color: var(--element-submit-bg);
    border-width: 2px;
  }
  .SelectedChip.PrimaryChips {
    background-color: color-mix(in srgb, var(--element-background) 50%, transparent 50%);
  }
  .Buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.85em;
    max-width: 550px;
  }
  .Btn {
    font-size: 0.85em;
  }
  .PrimaryModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75em;
    .Title {
      font-size: 1.25em;
      font-weight: bold;
    }
    .PrimaryList {
      border-collapse: collapse;
      tr:nth-child(even) {
        background-color: color-mix(in srgb, var(--element-background) 25%, transparent 100%);
      }
      &:has(tr) {
        th {
          background-color: color-mix(in srgb, var(--element-first-bg) 12.5%, transparent 100%);
          font-weight: bold;
        }
        &:has(td),
        &:has(th) {
          width: 12em;
          text-align: start;
          text-indent: 0.75em;
        }
        td:nth-child(2) {
          text-align: end;
          padding-right: 0.75em;
        }
      }
    }
  }
}

.ContextRadial {
  position: fixed;
  padding: 1.5em;
  flex-direction: column;
  gap: 0.75em;
  background-color: #8f8f8f;
  border-radius: 8px;
  border-top-left-radius: 0;
}
