.ModalBack {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.45);
  .ModalContent {
    padding: 2em 7.5em;
    background-color: var(--background);
    border-radius: var(--main-border-radius);
    box-shadow: none;
  }
}
