.Pin {
  height: 0.75em;
  width: 0.75em;
  border: 0.075em solid black;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}
.CompositePin {
  border-radius: 20%;
  position: relative;
  background-color: color-mix(in srgb, var(--compose) 55%, #000) !important ;
}
