.Pin {
  height: 0.75em;
  width: 0.75em;
  border: 0.075em solid black;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}
.CompositePin {
  height: 1em;
  width: 1em;
  border-radius: 40%;
  position: relative;
  background-color: var(--compose) !important;
}
