.Pin {
  height: 0.75em;
  width: 0.75em;
  border: 0.075em solid black;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}
.Title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.CompositePin {
  border-radius: 20%;
  position: relative;
  background-color: color-mix(in srgb, var(--compose) 55%, #000) !important ;
}

.DefaultContext {
  z-index: 25;
  position: absolute;
  transform: translate(1em, 1em);
  border-radius: var(--main-border-radius);
  background-color: var(--acent-background);
  flex-direction: column;
  padding: 1em;
  padding-top: 0.5em;
  align-items: center;
  cursor: default;
  max-width: 30vw;
  gap: 1em;
  .StatusBtn {
    height: 2em;
    width: 2em;
    border: 0.075em solid black;
    border-radius: 50%;
    display: block;
  }
  .Colors {
    width: 25vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75em;
  }
  .Button {
    width: max-content;
    font-size: 0.8em;
    cursor: pointer;
  }
}
