.Button {
  position: relative;
  padding: 0.75em;
  font-size: 1em;
  color: var(--text-element);
  border: none;
  border-radius: var(--main-border-radius);
  background-color: var(--element-first-bg);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.05s ease;

  &:active {
    transform: scale(1.025);
    &::after {
      content: '';
      pointer-events: none;
      background-color: #000;
      border-radius: var(--main-border-radius);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      opacity: 0.21;
    }
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
    &::after {
      content: '';
      background-color: #000;
      border-radius: var(--main-border-radius);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      opacity: 0.45;
    }
  }
}

.Submit {
  background-color: var(--element-submit-bg);
}

.Extra {
  background-color: var(--element-extra-bg);
}
