.errorFill {
  animation: error 1s infinite reverse;
}

@keyframes error {
  0% {
    fill: --state-color;
    stroke: --state-color;
  }
  50% {
    fill: #000;
    stroke: #000;
  }
  100% {
    fill: #fff;
    stroke: #fff;
  }
}
