html[data-theme='light'] {
  --background: #e6e1f2;
  --text-base: #323133;
  --element-background: #cfbff6;
  --pin-filed-bg: #353536;
}

html[data-theme='dark'] {
  --background: #534e61;
  --text-base: #efedf5;
  --element-background: #6f648b;
  --element-border-color: #444;
  --focus-element-border-color: #9a949e;
  --pin-filed-bg: #353536;
}
html {
  --compose: #2c778a;
  --main-border-radius: 6px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
