.Menu {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 60%;
  max-width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .Title {
    text-align: center;
  }
}
