.InputBox {
  padding-top: 1.5em;
  .Input {
    position: relative;
    .Placeholder {
      position: absolute;
      left: 0;
      transition: all 0.15s ease-in-out;
      text-indent: 0.75em;
      user-select: none;
      pointer-events: none;
    }
    .Preview {
      color: color-mix(in srgb, var(--text-base) 100%, #00000000 25%);
    }
    .Input {
      outline: none;
      width: 100%;
      background-color: var(--element-background);
      border: solid var(--element-border-color) 1px;
      border-radius: var(--main-border-radius);
      padding: 0.5em 0;
      text-indent: 0.75em;
      font-size: 1.2em;
      color: var(--text-base);
      transition: border-color 0.15s ease-in-out;
      &:focus {
        border-color: var(--focus-element-border-color);
      }
      &:-webkit-autofill,
      &:-webkit-autofill:focus,
      &:-internal-autofill-selected {
        transition:
          background-color 0s 600000s,
          color 0s 600000s !important;
        font-size: 1.2em;
      }
      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      &[type='number'] {
        -moz-appearance: textfield;
      }
      &:invalid {
        background-color: #b9314e62;
      }
    }
  }
}
